.navigation .nav-pills .nav-item .nav-link:hover,
 .navigation .nav-pills .nav-item .nav-link:active,
 .navigation .nav-pills .nav-item .nav-link.active {
    background-color: seagreen;
    color: white;
}
.navigation .nav-pills .nav-item .nav-link{
    color: black;
    margin: 0 5px;
}
.navigation  .dropdown:hover .dropdown-menu,
.navigation .dropdown:active .dropdown-menu
{
    display: block;
}


/* Slider Card  */
.slider .product .content {
    width: 100%;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}
.slider .product .content .hide{
    height: 0;
    padding: 0;
    transition: padding 0.5s ease;
}
.slider .product .content:hover .hide{
    padding: 25px 0;
}
.slider .product .content .hide a{
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    position: relative;
    bottom: -10px;
    transition: 0.5s ease;
}
.slider .product .content:hover .hide a{
    bottom: 10px;
}

.owl-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    transform: translate(-50%, -50%);
    width: 100%;
}
.owl-nav button span{
    background-color: royalblue;
    padding: 5px 10px;
    color: white;
    width: 20px;
    font: 20px;
    border-radius: 3px;
}
.owl-nav .owl-prev{
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
}
.owl-nav .owl-next {
    display: block;
    position: absolute;
    right: -30px;
}
@media only screen and (max-width:768px){
    .owl-nav .owl-prev {
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
    }
    .owl-nav .owl-next {
        display: block;
        position: absolute;
        right: 0px;
    }

}
/* Footer */
footer .title{
    background-color: royalblue;
    color: white;
}
